.calendar {


    &__row {
        position: relative;
    }

    &__item {
        background: white;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        padding: 15px 15px 30px;
        position: relative;
        cursor: pointer;
        border-radius: 4px;

        &.active {
            background: $blue;
        }
    }

    &__col {
        padding: 0 5px !important;
    }

    &__small {
        position: absolute;
        right: 5px;
        bottom: 5px;
        line-height: 1;
    }

    &__title {
        color: black;
        text-transform: capitalize;
        font-weight: 700;

        .active & {
            color: $blue;
        }
    }

    &__form {
        margin-top: 50px;
        margin-right: -5px;
        margin-left: -5px;

        &--inner {
            max-width: 400px;
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
        }

        .button {
            width: 100%;
        }
    }

    &__toggle-date {
        border: none;
        outline: none;
        background: $blue;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        transition: .3s ease;

        &:focus {
            border: none;
            outline: none;
        }

        i {
            font-size: 30px;
            color: white;
        }

        &:hover {
            background: $dark-blue;
        }
    }

    &__next {
        position: absolute;
        right: -45px;
        top: 0;
        bottom: 0;
    }

    &__previous {
        position: absolute;
        left: -45px;
        top: 0;
        bottom: 0;
    }
}
