.calendar {
    &__row {
        position: relative;
        padding: 0 60px;

        @media screen and (max-width: $size-small) {
            margin: 0 0 100px 0;
            padding: 0;
        }

        &--fields {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }

    &__item {
        background: white;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        padding: 15px 15px 30px;
        position: relative;
        cursor: pointer;
        min-height: 50px;
        transition: .3s ease;

        @media screen and (max-width: $size-small) {
            padding-bottom: 45px;
        }

        &.active {
            background: $blue;
        }
    }

    &__day {
        position: absolute;
        bottom: -15px;
        right: 50%;
        width: 85px;
        height: 30px;
        border-radius: 10px;
        background: $dark-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(50%);

        @media screen and (max-width: $size-small) {
            width: 100%;
            bottom: 0;
            border-radius: 0;
        }


        span {
            color: white;
            font-weight: 700;

            @media screen and (max-width: $size-small) {
                font-size: 12px;
            }
        }
    }

    &__col {
        padding: 0 !important;
        
        &:nth-child(6), &:nth-child(7) {
            display: none;
        }

        &--form {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: $size-small) {
                margin: 0 0 15px 0;
                flex: 100% !important;
            }
        }
    }

    &__small {
        position: absolute;
        right: 5px;
        bottom: 5px;
        line-height: 1;
    }

    &__title {
        color: $dark-blue;
        text-transform: capitalize;
        font-weight: 900;
        transition: .3s ease;

        @media screen and (max-width: $size-small) {
            display: none;
        }

        &--small {
            display: none;

            @media screen and (max-width: $size-small) {
                display: block;
            }
        }

        .active & {
            color: white;
        }
    }

    &__form {
        margin-top: 50px;
        margin-right: -5px;
        margin-left: -5px;

        &--inner {
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
        }

        .button {
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    &__toggle-date {
        border: none;
        outline: none;
        background: $blue;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        transition: .3s ease;

        @media screen and (max-width: $size-small) {
            border-radius: 0 !important;
        }

        &:focus {
            border: none;
            outline: none;
        }

        i {
            font-size: 20px;
            color: white;
        }

        &:hover {
            background: $dark-blue;
        }
    }

    &__next {
        position: absolute;
        right: 26px;
        border-radius: 0 4px 4px 0;
        top: 0;
        bottom: 0;

        @media screen and (max-width: $size-small) {
            bottom: -44px;
            top: auto;
            right: 0;
            width: 50vw;
        }
    }

    &__previous {
        position: absolute;
        border-radius: 4px 0 0 4px;
        left: 26px;
        top: 0;
        bottom: 0;

        @media screen and (max-width: $size-small) {
            bottom: -44px;
            top: auto;
            left: 0;
            width: 50vw;
        }
    }
}
