.calendar {
    &__row {
        position: relative;
        padding: 0 60px;

        &--fields {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }

    &__item {
        background: white;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        padding: 15px 15px 30px;
        position: relative;
        cursor: pointer;
        min-height: 50px;

        &.active {
            background: $blue;
        }
    }

    &__day {
        position: absolute;
        bottom: -15px;
        right: 50%;
        width: 85px;
        height: 30px;
        border-radius: 10px;
        background: $dark-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(50%);

        span {
            color: white;
            font-weight: 700;
        }
    }

    &__col {
        padding: 0 !important;
    }

    &__small {
        position: absolute;
        right: 5px;
        bottom: 5px;
        line-height: 1;
    }

    &__title {
        color: $dark-blue;
        text-transform: capitalize;
        font-weight: 900;

        .active & {
            color: white;
        }
    }

    &__form {
        margin-top: 50px;
        margin-right: -5px;
        margin-left: -5px;

        &--inner {
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
        }

        .button {
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    &__toggle-date {
        border: none;
        outline: none;
        background: $blue;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
        transition: .3s ease;

        &:focus {
            border: none;
            outline: none;
        }

        i {
            font-size: 20px;
            color: white;
        }

        &:hover {
            background: $dark-blue;
        }
    }

    &__next {
        position: absolute;
        right: 26px;
        border-radius: 0 4px 4px 0;
        top: 0;
        bottom: 0;
    }

    &__previous {
        position: absolute;
        border-radius: 4px 0 0 4px;
        left: 26px;
        top: 0;
        bottom: 0;
    }
}
