// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$light-blue: #E6EFF4;
$blue: #025D8C;
$dark-blue: #001926;

// Breakpoints
$size-small: 768px;
$size-medium: 992px;
